.fa {
    padding: 10px;
    font-size: 20px;
    top:50%;
    left:45%;
    width: 5px;
    height: 5px;
    text-align: left;
    text-decoration: none;
    margin: 1px 2px;
    border-radius: 1%;
  }

  


  .fa-linkedin {
    color: rgb(100, 100, 100);
  }

  .fa-instagram {
    color: rgb(100, 100, 100);
  }

  .fa-youtube {
    color: rgb(100, 100, 100);
  }

  .fa-twitter {
    color: rgb(100, 100, 100);
  }

  .fa-github {
    color: rgb(100, 100, 100);
  }
  .fa-facebook {
    color: rgb(100, 100, 100);
  }
  .fa-medium {
    color: rgb(100, 100, 100);
  }
  .fa-steam {
    color: rgb(100, 100, 100);
  }

  .social a {
  text-decoration: none;
}

  .social  {
  left: 50%;
  top: 40%;
  font-size: 24px;
  position: absolute;
  }


    body, html {
      height: 100%;
      margin: 0;
      overflow: hidden;
    }

    

  .Name {
    font-family: 'Ubuntu', sans-serif;
    src:url('OpenSans-Light.ttf');
    color: rgb(180, 180, 180);
    font-weight: 300;
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 44px;
  }
  .ProfileImage {
    position: absolute;
    top: -5%;
    left: 5%;
    width: 100%;
		
  }
  .Title {
    font-family: 'Ubuntu';
    color: rgb(100, 100, 100);
    font-weight: 300;
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 22px;
  }
  .StockPhotoTitle {
    font-family: 'Ubuntu';
    color: rgb(100, 100, 100);
    font-weight: 300;
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 12px;
    text-decoration: None;

  }
  
  .Caption {
    font-family: 'Ubuntu';
    color: rgb(100, 100, 100);
    font-weight: 300;
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 20px;
    text-decoration: None;

  }


.ShutterStock {
  font-family: 'Ubuntu';
  color: rgb(100, 100, 100);
  font-weight: 300;
  position: absolute;
  top: 45%;
  left: 55%;
  font-size: 12px;
  text-decoration: None;

}

.AdobeStock {
  font-family: 'Ubuntu';
  color: rgb(100, 100, 100);
  font-weight: 300;
  position: absolute;
  top: 45%;
  left: 60%;
  font-size: 12px;
  text-decoration: None;
 }

 .EMAIL {
  font-family: 'Ubuntu';
  color: rgb(100, 100, 100);
  font-weight: 400;
  position: absolute;
  top: 52%;
  left: 69.5%;
  font-size: 12px;
  text-decoration: None;
 }

  a {
    color: white;
  }

  a.hover{
    cursor: pointer;
  }

  a.text:hover {
    opacity: 0.7;
  }

   a.text:active {
    opacity: 0.7;
  }


    a.text2:hover {
    opacity: 0.7;
  }

   a.text2:active {
    opacity: 0.7;
  }







  body {
      background-position: center center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
  }





/* for mobile devices 480px */
@media (max-width: 480px){
    body{
      background-color: black;
    }
    html, body {
      overflow-x: hidden;
    }
    body {
      position: relative;
    }

    .ProfileImage {
      position: absolute;
      top: 15vh;
      left: -50vw;
      width: 200%;
      
    }

    .Name{
      top: 25vh;
      left: 40vw;
      font-size: 34px;
      }

    .Title{
      top: 35vh;
      left: 40vw;
      font-size: 18px;
      }

      .StockPhotoTitle {
        
        top: 48vh;
        left: 40vw;
        font-size: 10px;
        
    
      }
    
    
    .ShutterStock {
      
      top: 48vh;
      left: 56vw;
      font-size: 10px;
      
    
    }
    
    .AdobeStock {
      
      top: 48vh;
      left: 72vw;
      font-size: 10px;
      
      }


    .social{
    left: 37.5vw;
    top: 55%;
    font-size: 1px;
    }

    .EMAIL {
      top: 63vh;
      left: 40vw;
      font-size: 10px;
      
     }
}

/* mobile devices 375(iphone 6/7/8) */

@media (max-width: 376px)
{
  body{
    background-color: black;
  }
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

  .ProfileImage {
    position: absolute;
    top: 15vh;
    left: -50vw;
    width: 200%;
    
  }

  .Name{
    top: 25vh;
    left: 40vw;
    font-size: 34px;
    }

  .Title{
    top: 35vh;
    left: 40vw;
    font-size: 18px;
    }

    .StockPhotoTitle {
      
      top: 48vh;
      left: 40vw;
      font-size: 10px;
      
  
    }
  
  
  .ShutterStock {
    
    top: 48vh;
    left: 58vw;
    font-size: 10px;
    
  
  }
  
  .AdobeStock {
    
    top: 48vh;
    left: 76vw;
    font-size: 10px;
    
    }


  .social{
  left: 37.5vw;
  top: 52%;
 
  }

  .EMAIL {
    top: 59vh;
    left: 50vw;
    font-size: 10px;
    
   }
}


/* for mobile devices */
@media (max-width: 320px){
  body{
    background-color: black;
  }
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

  .ProfileImage {
    position: absolute;
    top: 15vh;
    left: -50vw;
    width: 200%;
    
  }

  .Name{
    top: 25vh;
    left: 40vw;
    font-size: 34px;
    }

  .Title{
    top: 35vh;
    left: 40vw;
    font-size: 16px;
    }

    .StockPhotoTitle {
      
      top: 46vh;
      left: 40vw;
      font-size: 10px;
      
  
    }
  
  
  .ShutterStock {
    
    top: 46vh;
    left: 60vw;
    font-size: 10px;
    
  
  }
  
  .AdobeStock {
    
    top: 46vh;
    left: 80vw;
    font-size: 10px;
    
    }


  .social{
  left: 37.5vw;
  top: 50%;
  font-size: 0px;
  }

  .EMAIL {
    top: 56vh;
    left: 60vw;
    font-size: 10px;
    
   }

}



/* for tablet devices */

@media (min-width: 481px) and (max-width: 1024px) {
  body{
    background-color: black;
  }
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

  .ProfileImage {
    position: absolute;
    top: 15vh;
    left: -50vw;
    width: 200%;
    
  }

  .Name{
    top: 25vh;
    left: 40vw;
    font-size: 34px;
    }

  .Title{
    top: 32vh;
    left: 40vw;
    font-size: 20px;
    }

    .StockPhotoTitle {
      
      top: 42vh;
      left: 40vw;
      font-size: 10px;
      
  
    }
  
  
  .ShutterStock {
    
    top: 42vh;
    left: 54vw;
    font-size: 10px;
    
  
  }
  
  .AdobeStock {
    
    top: 42vh;
    left: 68vw;
    font-size: 10px;
    
    }


  .social{
  left: 37.5vw;
  top: 46%;
  font-size: 1px;
  }

  .EMAIL {
    top: 52vh;
    left: 40vw;
    font-size: 10px;
    
   }

}


/* for desktop devices */
@media (min-width: 1025px) {
    body {
      background-color: black;
          }
}



